.jumbotron {
    background-image: url("https://files.slack.com/files-pri/TKD85M50X-FLDM0TAMD/beer-stock3.jpg");
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    max-width: 100%;
    background-position: left;
    background-color: black;
    background-repeat: no-repeat;
    max-height: 100%;
    border-color: black;

}

body {
    background-image: url("https://ae01.alicdn.com/kf/HTB1z4mMIVXXXXbeXFXXq6xXFXXXc/7X5ft-free-shipping-Thin-vinyl-fabric-computer-Printed-photography-background-wood-floor-photo-backdrops-for-photo.jpg");
    border-color: black;

}
.card-body{background-color: transparent;
    background-image: url("https://files.slack.com/files-pri/TKD85M50X-FL8L5CW49/image.png");
    border-color: black;
}

form {
    /* border: 2px solid #222; */
    padding: 2%;
    padding-top: 0;
    border-color: black;
}

.btn-outline-light {
    color: rgb(0, 0, 0);
}




.fa {
    padding-right: 2px;
}

#articleContainer {
    margin-top: 20px;
    min-height: 100px;
    border-color: black;
}

#brewology {
    width: 100%;
    border-color: black;

}

#surveyDiv {
    background-color: transparent;
    background-image: url("https://files.slack.com/files-pri/TKD85M50X-FL8L5CW49/image.png");
    border-color: black;
}




#articleDiv {
    margin: 20px;
    border-color: black;
}

.yelp-images {
   
  width:100%;

}

